{% load i18n %}

            {% for exp in expenses %}
            <li>
                <a class="noeffect" href="{{ exp.expense_id }}/">
                    <span class="number">{{ forloop.counter|add:offset }}</span>
                    <span class="name">{{ exp.spent_on }} : {{ exp.subject }} : ${{ exp.amount }}</span>
                    <span class="arrow"></span>
                </a>
            </li>
            {% endfor %}
            <script type="text/javascript">
            {% if has_no_more %}
            $("#has_more").html('<a class="noeffect" href="#"><span class="name">{% trans "End of List" %}</span></a>');
            {% endif %}
            </script>
